dt, dd {
    line-height: 1.75rem;
}

.addAgendaBtn {
    width: 190px;
    margin: 10px;
}

.deleteItemBtn {
    width: 110px;
    margin: 10px;
}

.agenda-item-btnGroup {
    display:flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}