#NoteSlide {
    position: fixed;
    right: -400px;
    border: 1px solid rgb(205, 205, 205);
    border-radius: 20px;
    width: 450px;
    overflow-y: scroll;
    height: 97vh;
    transition: right 1s;
}

.showSlide {
    right: 0 !important;
}

.pageBtn-container {
    border-bottom: 1px solid rgb(205, 205, 205);
}

.pageBtn {
    border: 1px solid transparent;
    background-color: white;
    padding: 15px 20px;
}

.pageBtn-active {
    background-color:rgb(172, 216, 254); 
}

.page {
    display:none;
}

.activePage {
    display: block !important;
}

#slideBtn {
    float: right;
}

.placeName {
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    padding: 20px 0;
}
